body{
    margin: 20px;
    padding: 10px;
    background-image: url(b1.avif);
   
}



form {

  text-align: center;
  font-size: 35px;
  Color:white;
  border-style: solid;
  border-color: white;
  border-width: 3px;
  border-radius: 17px;
  width: 300px;
  height: auto;
  margin-left: 500px;
  padding: 40px;}

input{
    border-radius:5px;
    height: 35px;
    width: 300px;
    font-size: 30px;
}
button{
    margin-top: 30px;
    height: 50px;
    width:200px;
    border-radius: 10px;
    background-color: transparent;
    color:white;
}
    button:hover{
        background-color: white;
        color:black;
    }
    h1{
        color:white
    }


